/* Font Family Section*/

/* For Merriweather */
.font1 {
    font-family: 'Merriweather', serif;
}

/* For Inter */
.font2 {
    font-family: 'Inter', sans-serif;
}

/* Common Styles */
.red {
    color: #F00;
}

.new-offer-title,
.best-gifts-title,
.holiday-offer-title,
.newsletter-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-offer-time,
.best-gifts-motto,
.holiday-offer-wow {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.new-offer-details,
.holiday-offer-details,
.best-gifts-details,
.newsletter-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}


/* Banner Section */
.banner {
    background-image: url('../images/background-images/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
}

.banner-container {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    text-align: center;
    width: 1320px;
    height: 600px;

}

.banner-title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
}

.banner-content {
    color: #FFF;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    width: 632px;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for Offer Section */
.offer {
    text-align: center;
    font-style: normal;
    line-height: normal;
}

.offer-title {
    font-size: 88px;
    font-weight: 700;
}

.offer-motto {
    font-size: 24px;
    font-weight: 500;
}

.offer-item-title {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.offer img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

/* Welcome Styles */
.welcome {
    background-image: url('../images/background-images/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.welcome-container {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

.welcome-title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    padding-left: 126px;
    /* padding-top: 126px;
     */
}

.welcome-text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding: 0 500px 0 126px;
}

img.welcome-2024 {
    margin-top: 64px;
    margin-right: 136px;
    width: 320px;
    height: 465px;

}

.welcome-btn {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 158px;
}

/* Styles for Event Section */
.event {
    text-align: center;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;

}

.event-container {
    padding: 100px 386px 0 386px;
    text-transform: capitalize;
    width: 550px;
}

.event-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.join-event {
    padding: 16px 32px;
    justify-content: center;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0px;
    margin-top: 48px;
}


/* Styles for New Offer */
.new-offer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
}

.new-offer-container1 {
    width: 394px;
}

.new-offer-container2 {
    width: 276px;
}


.new-offer-pic {
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 45px;
}


.new-offer-year {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Styles for Holiday Sales */

.holiday-sales {
    width: 1320px;
    height: 660px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.holiday-sales-imgs {
    background-image: url('../images/background-images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1320px;
    height: 660px;
    margin-left: auto;
    margin-right: auto;
    /* display:flex; */
}

/* .holiday-sales img {
    display: inline flex;
} */

.box-img {
    width: 500px;
    /* background: radial-gradient(49.96% 50% at 50% 50.23%, #000 0%, #FFF 100%); */
    padding-left: 100px;
    margin-bottom: -200px;
}

.offer-img {
    width: 220px;
    padding-bottom: 160px;
}

.offer-wow {
    width: 400px;
}

/* Styles for Best Gifts */
.best-gifts {
    margin-top: 400px;
}

.best-gifts-txt-container {
    margin-left: 70px;
}

.best-gifts-imgs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 60px;

}

.best-gifts-pic {
    padding-right: 24px;
}

.best-gifts-pic:hover {
    opacity: 50%;
}

/* Styles for Newsletter Section */
.newsletter-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin-top: 120px;
    margin-left: 70px;
    text-align: center;
    padding-top: 80px;
}

.newsletter-subscribe {}

.subscribe-email {
    width: 440px;
    height: 72px;
    border: none;
    text-align: left;
    padding-left: 30px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-submit {
    width: 210px;
    height: 72px;
    border: none;
    border-radius: 0 50px 50px 0;
    color: #FFF;
    background: #F00;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;

}

/* Styles for Footer */
footer {
    background: #070211;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 140px;
    padding-right: 140px;
    margin-top: 120px;
}

footer a {
    color: #FFF;
    text-decoration: none;

}

.address {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 50px;
}

.contacts img {
    padding-right: 8px;
    vertical-align: middle;
}

.social-media-links {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.social {
    padding-right: 24px;
}

hr {
    border-top: 1px solid #ffffff26;
}

a {}

.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 120px;
}